/* GLOBAL --------------------------------------------------------*/
body{
    background-color: #d3d3d3;
}

#navbar {/* Style Navbar */
    /*overflow: hidden;*/
    background-color: #542cb7;
}

#logo {
    float: left;
}

#navbar a {/* Style Navbar Links */
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.content {/* Style Page Content */
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
/* ---------------------------------------------------------------*/
/* Collapsible Menu ----------------------------------------------*/
#bt-links {/* Hide the links inside the navigation menu */
    display: none;
}

#bt-links a {/* Style navigation menu links */
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

#bt-menu a.icon {/* Style the hamburger menu */
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

#bt-links a:hover {/* Add a grey background color on mouse-over */
    background-color: #ddd;
    color: black;
  }
/* ---------------------------------------------------------------*/
/* Sticky Navbar -------------------------------------------------*/

.sticky {/* sticky class is added to the navbar with JS when it reaches its scroll position */
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {/* Add some top padding to the page content to prevent sudden quick movement */
    padding-top: 60px;
}
/* Sticky Navbar -------------------------------------------------*/
/* ---------------------------------------------------------------*/
/* Hide or show Menu ---------------------------------------------*/


/* ---------------------------------------------------------------*/

